body {
    background-color: #ffffff;
    margin: 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.left-line{
    border-left: 1px solid lightgray;
    left: 30%;
    position: absolute;
    height: 100%;
}

.right-line{
    border-left: 1px solid #E2E2E2;
    right: 30%;
    position: absolute;
    height: 400%;
}

.bar-style{
    font-size: 48px;
    cursor: pointer;
    background: black;
    z-index: 4;
    position: relative;
    height: 60px;
    display: none;
}

#hamburger-menu{
    margin-top: 2px;
}

.button-style{
    padding: 0;
    border: none;
    background: none;
    color: white;
}

.close-style{
    color: white;
    font-size: 48px;
    margin-left: 3%;
    margin-top: 3%;
    cursor: pointer;
}

.menu-padding{
    padding-top: 20px;
}
.menu-items{
    margin: auto;
}
.hero-section{
    height: 40em;
    background: white;
}

.hero-segment{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.name-style{
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: end;
    margin-top:  3.2em;
    padding-right: 5rem;
}
.role-style{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    text-align: end;
    position: relative;
    padding-right: 5rem;

}
.role-space{
    margin-top: 1em;
}

.hero-image-style{
    height: 34em;
    position: relative;
    z-index: 2;
    top: 2em;
    left: 9em;
}


.rect-segment{
    float: right;
}

.rect{
    position: absolute;
    top: 66%;
    right: 0;
    width: 50%;
    height: 34%;
    background-color: black;
}

.space{
    height: 10em;
}

.section{
    min-height: 14em;
    display: flex;

    background-color:white;
}

.section-center{
    margin: auto;
}



.big-background-text{

    font-family: 'Playfair Display', serif;
    font-size: 144px;
    color: #F6F6F6;
    display: block;
}

.small-foreground-text{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: black;
    text-align: center;
    position: relative;
    top: -1em;
}

.tag-line{
    font-size: 30px;
    color: F5A623;
    font-style: italic;
    text-align: right;
    position: relative;
    top: -2.5em;
}

.left-content{
    width: 50%;
    float: left;
}

.right-content{
    width: 50%;
    float: right;
}

.project-one-description{
    left: 7em;
    position: relative;
    width: calc(100% - 20em);
    font-family: 'Open Sans', sans-serif;
    margin-top: 3em;
}

.project-description{
    left: 7em;
    position: relative;
    width: calc(100% - 20em);
    font-family: 'Open Sans', sans-serif;
    margin-top: 8em;
}

.project-number{
    font-size: 24px;

}

.project-title{
    margin-top: 1em;
    font-size: 34px;
    font-weight: 700;

}

.project-body{
    margin-top: 2em;
    font-size: 16px;

}

.image-alter{
    width: 85%;

}

.read-more-link{
    position: relative;
    margin-top: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.rect-border{
    width: 50px;
    height: 8px;
    background-color: #F5A623;
    top: 6.3em;
    position: relative;
}

.fa {

    margin-left: 10px;
}

.hline{
    border-top: 2px solid black;
    left: 24%;
    position: absolute;
    width: 17%;
    margin-top: -9px;

}

.traingle-right{

    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #555;
	border-bottom: 5px solid transparent;
}

.image-alter-project-two{
    width: 80%;
    position: relative;
    left: 7em
}

.project-two-description{
    left: 7em;
    position: relative;
    width: calc(100% - 20em);
    font-family: 'Open Sans', sans-serif;
    margin-top: 3em;
}

.read-more-link-two{
    position: relative;
    margin-top: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.rect-border-two{
    width: 50px;
    height: 8px;
    background-color: #F5A623;
    top: 102px;
    position: relative;
}

.center-blog{
    width: 1240px;
    margin-left: 100px;
}

.blog-one{
    width: 280px;
    float: left;
}

.blog-two{
    width: 280px;
    float: left;
    margin-left: 40px;
    margin-top: 25em;
}
.blog-three{
    width: 280px;
    float: left;
    margin-left: 40px;
}
.blog-four{
    width: 280px;
    float: left;
    margin-left: 40px;
    margin-top: 25em;
}


.image-blog-one{
    width: 280px;
    height: 370px;
}

.blog-heading{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.blog-body{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.image-blog-two{
    width: 280px;
    height: 250px;
}

.segment-one{
    width: 280px;
    float: left;
    margin-top: 150px;
}

.segment-two{
    width: 600px;   
    float: left;
    margin-left: 30px;
}

.segment-three{
    width: 300px;
    float: left;
    margin-left: 30px;

}

.segment-four{
    width: 600px;   
    float: left;
    margin-left: 30px;
    margin-top: -9.5em;
}

.photo-one{
    width: 280px;
}

.photo-two{
    width: 390px;
    float: left;
}

.photo-three{
    width: 180px;
    margin-left: 30px;
    float: left;
    margin-top: 112px;

}

.photo-four{
    width: 300px;
    height: 320px;
    margin-top: 150px;

}

.photo-five{
    width: 180px;
    height: 180px;
    float: left;
}

.photo-six{
    width: 390px;
    float: left;
    margin-left: 30px;
}

.background-animation{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 2;
    top: 0;
    pointer-events: none;
}


.sidenav{
    height: 100%;
    width: 0;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
    background-color: #000000;
    transition: 0.5s;
    overflow-x: hidden;
    transition-timing-function: ease-in;
    display: flex;
    justify-content: center;
    
}
.sidenav a{
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
}
.sidenav a:hover{
    color: transparent;
    -webkit-text-stroke: 0.7px white;
}
.hamburger--slider .hamburger-inner{
    background-color: #ffffff;

}

.hamburger--slider .hamburger-inner::before{
    background-color: #ffffff;
}

.hamburger--slider .hamburger-inner::after{
    background-color: #ffffff;
}



.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color: white !important;
}

.slide{
    position: relative;
    left: -400px;
    -webkit-animation: slide 1s forwards ;
    -webkit-animation-delay: 0.7s;
    animation: slide 1s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

.social-links{
    float: right;
    transform: rotate(90deg);
    position: absolute;
    right: -6.5em;
    top: 16em;
    font-family: 'Playfair Display', serif;
}

.social-element{
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
}

.link-decoration{
    text-decoration: none;
    color: #000000;
}

.invision-project-two { 
    -moz-transform: scale(0.75, 0.75); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75); 
    -ms-transform: scale(0.75, 0.75); 
    transform: scale(0.75, 0.75); 
    -moz-transform-origin: top left; 
    -webkit-transform-origin: top left; 
    -o-transform-origin: top left; 
    -ms-transform-origin: top left; 
    transform-origin: top left; 
    float: right;
}

#project-three{
    margin-top: -12em;
}


#footer{
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 4em;
}

.left {
    float: left;
    width: 20%;
}

.right {
    float: right;
    width: 20%;
    text-align: right;
}

.sub-heading {
    display: block;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 0.7rem;
}

.footer-item {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}


#page {
  display: none;
}

.zoom:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

.move-right:hover{
    transform: translate(5px, 0);
    transition: all ease 500ms;
}

.move-left:hover {
    transform: translate(-5px, 0);
    transition: all ease 500ms;
}

.wiggle:hover{ 
    animation: wiggle 150ms;
    animation-timing-function: linear;   
  }

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}


@-webkit-keyframes slide{
    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes slide{
    100%{
        left: 0;
        opacity: 1;
    }
}

.scroll-indicator {
    display: block;
    text-align: center;
    position: relative;
    top: 13rem;
}

.scroll-icon {
    margin: auto;
    animation: movedown 1000ms infinite;
}

@keyframes movedown {
    50% { transform: translate(0, -2px); }
    60% { transform: translate(0, 2px); }
    70% { transform: translate(0, -2px); }
    80% { transform: translate(0, 2px); }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 45%;
  margin: auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
